<!-- Primary Meta Tags -->
<title>Basssic</title>
<meta charset="UTF-8" />
<meta name="title" content="Basssic" />
<meta name="description" content="Crafting interfaces." />
<link rel="icon" type="image/svg+xml" href="/icon.svg" />

<!-- Og graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://basssic.vercel.app/" />
<meta property="og:title" content="Basssic" />
<meta property="og:description" content="Crafting interfaces." />
<meta property="og:image" content="/banner.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://basssic.vercel.app/" />
<meta property="twitter:title" content="Basssic" />
<meta property="twitter:description" content="Crafting interfaces." />
<meta property="twitter:image" content="/banner.png" />
