@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Newsreader-VariableFont';
        src: url('/fonts/Newsreader/Newsreader-VariableFont.woff2') format('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Newsreader-Italic-VariableFont';
        src: url('/fonts/Newsreader/Newsreader-Italic-VariableFont.woff2') format('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: italic;
    }
    
    @font-face {
        font-family: 'Neue-Montreal-Medium';
        src: url('/fonts/Neue/Neue-Montreal-Medium.woff2') format('woff2');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Neue-Montreal-Regular-400';
        src: url('/fonts/Neue/Neue-Montreal-Regular-400.woff2') format('woff2');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
    }
}

::-webkit-scrollbar {
    width: 1px; 
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background-color: #2c2c2c; 
    border-radius: 10px; 
}


::-webkit-scrollbar-thumb:hover {
    background-color: #2c2c2c; 
}


* {
    scrollbar-width: thin; 
    scrollbar-color: #2c2c2c transparent; 
}

*::-moz-scrollbar {
    width: 2px; 
}

*::-moz-scrollbar-thumb {
    background-color: #2c2c2c; 
    border-radius: 10px; 
}

*::-moz-scrollbar-track {
    background: transparent; 
}

::selection {
    background-color: #2c2c2c;
}


body {
    cursor: crosshair;
    scrollbar-width: thin;
    scrollbar-color: #2c2c2c transparent;
    color: #b9b9b9;
    background-color: #1a1a1a;
}

.underlines {
    background-image: linear-gradient(gray, gray);
    background-size: 100% 1px;
    background-position: left bottom;
    background-repeat: no-repeat;
}