---
import '../styles/global.css';
import '@fontsource-variable/newsreader';
import Footer from '../components/common/Footer.tsx';
import SmoothScroll from '../components/core/SmoothScroll.tsx';
import Meta from '../components/core/Meta.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<Meta/>
	</head>
	<body class="mt-24 leading-normal tracking-normal font-delight text-[16px] text-[#e1e1e1]">
		<SmoothScroll client:load>
			<slot/>
			<div class="font-delight border-t border-[#2e2e2e] py-3 mt-14">
				<Footer client:load/>
			</div>
		</SmoothScroll>
	</body>
</html>