---
import '../styles/global.css';
import { Constant } from '../utils/constant';
import Footer from '../components/common/Footer.tsx';
import SmoothScroll from '../components/core/SmoothScroll.tsx';
import Blured from '../components/core/Blured';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={Constant.description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="generator" content={Astro.generator} />	
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://basssic.vercel.app/" />
		<meta property="og:title" content="Basssic" />
		<meta property="og:description" content="Crafting interfaces." />
		<meta property="og:image" content="https://github.com/yuxxeun/meta/blob/main/img/gray.jpg?raw=true" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://basssic.vercel.app/" />
		<meta property="twitter:title" content="Basssic" />
		<meta property="twitter:description" content="Crafting interfaces." />
		<meta property="twitter:image" content="https://github.com/yuxxeun/meta/blob/main/img/gray.jpg?raw=true" />
		<title>{title}</title>
	</head>
	<body class="leading-normal tracking-normal font-delight text-[16px] text-[#e1e1e1]">
		<SmoothScroll client:load>
			<Blured client:load/>
			<slot/>
			<div class="animate-delay-[2800ms] border-t border-[#2e2e2e] py-3 mt-32">
				<Footer client:load/>
			</div>
		</SmoothScroll>
	</body>
</html>