---
import '../styles/global.css';
import { Constant } from '../utils/constant';
import Footer from '../components/common/Footer.tsx';
import SmoothScroll from '../components/core/SmoothScroll.tsx';
import Blured from '../components/core/Blured';
import {Toaster} from 'sonner'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={Constant.description} />
		<meta name="keywords" content="yuxxeun, Krido Pambudi" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://basssic.vercel.app/" />
		<meta property="og:title" content="Basssic" />
		<meta property="og:description" content="Crafting interfaces." />
		<meta property="og:image" content="https://raw.githubusercontent.com/yuxxeun/meta/refs/heads/main/img/basssic.png" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://basssic.vercel.app/" />
		<meta property="twitter:title" content="Basssic" />
		<meta property="twitter:description" content="Crafting interfaces." />
		<meta property="twitter:image" content="https://raw.githubusercontent.com/yuxxeun/meta/refs/heads/main/img/basssic.png" />
		<title>{title}</title>
	</head>	
	<body class="leading-normal px-0 mx-0 tracking-normal font-delight text-[16px] text-[#e1e1e1]">
		<SmoothScroll client:load>
			<Toaster toastOptions={{
				style: {
				  background: '#2c2c2c',
				  color: '#b9b9b9',
				  border: '#2e2e2e',
				},
				className: 'class', 
			  }} client:load />
			<Blured client:load/>
			<slot/>
			<Footer client:load/>
		</SmoothScroll>
	</body>
</html>