---
import '../styles/global.css';
import '@fontsource-variable/newsreader';
import { Constant } from '../utils/constant';
import Footer from '../components/common/Footer.tsx';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={Constant.description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="mt-24 leading-normal font-delight text-[17px]">
		<slot/>
		<Footer client:load/>
	</body>
</html>